#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
    border: 1px solid #FF0000;
    text-align: center;
    background-color: aqua;
}

footer {
    text-align: center;
}

body {
    margin: 0 auto;
    font-family: monospace;
}

article {
    padding-top: 30px;
    text-align: center;
    float: right;
    width: 70%;
    background-color: aquamarine;
}

article .container {
    padding-top: 30px;
}

article .title {
    background-color: lightgray;
    font-size: 30px;
}

.sidebar {
    float: left;
    width: 30%;
    height: 600px;
    background-color: blue;
    color: white;
    background-color: palegreen;
    padding-top: 15px;
}

.sidebar a {
    min-height: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    color: #818181;
    display: block;
    transition: 0.3s
}